<!DOCTYPE html>
<html>
<head>
	<title>Bruce-O-Pedia</title>
	<link rel="icon" href="favicon.ico">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<script src="main.js"></script>
</head>
<body>
<%=yield%>
</body>
</html>