<!DOCTYPE html>
<html>
<head>
	<title>Bruce-O-Pedia</title>
	<link rel="icon" href="favicon.ico">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script src="main.js"></script>
</head>
<body>
	<% if session[:user_id] %>	
		<header>
			<div class="logoutButton">
				<form action="/sessions" method="POST">
					<input type="hidden" name="_method" value="delete">
				   	<button>Log Out</button>
				</form>
			</div>
	<% end %>
		</header>
			<%=yield%>
	
</body>
</html>