<!DOCTYPE html>
<html>
<head>
	<title>Bruce-O-Pedia</title>
	<link rel="icon" href="favicon.ico">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<script src="main.js"></script>
</head>
<body>
	<% if session[:user_id] %>
		<form action="/sessions" method="POST">
			<input type="hidden" name="_method" value="delete">
		   	<button>Log Out</button>
		</form>
	<% end %>

	<%=yield%>
</body>
</html>