<h1>Sign Up!</h1>

<form class="form" action="/users" method="POST">
  <label for="name">Enter Username:</label>
  <input type="text" name="name" placeholder="Username">
  <label for="password">Password:</label>
  <input type="password" name="password" id="password" placeholder="Enter Password">
  <label for="confirmPassword">Confirm Password:</label>
  <input type="password" name="password_confirmation" id="password" placeholder="Enter Password">
  <label for="location">Location:</label>
  <input type="text" name="location" placeholder="Your location">
  <label for="avatar_img_url">Enter Your Avatar:</label>
  <input type="text" name="avatar_img_url" placeholder="Avatar Image URL!">
  <button>Sign up</button>
</form>


<div class="smallLink">
  <a href="/">Home</a>
</div>