<div id="backgroundSplash">
	<div class="splash">
		<div class="splashLogin">
			<h1>Log In!</h1>
			<form id="pure-form" action="/" method="POST" class="pure-form">
			  <label for="name">Username:</label>
			  <input type="text" name="name" id="name" placeholder="Enter Username">
			  <label for="name">Password:</label>
			  <input type="password" name="password" id="password" placeholder="Enter Password">
			  <button class="loginButton">Log In</button>
			</form>
			<div class="signUpLink">
				<a href="/signUp">Sign Up!</a>
			</div>
		</div>
	</div>
</div>