<h1>Log In!</h1>

<form action="/" method="POST">
  <label for="name">Username:</label>
  <input type="text" name="name" id="name" placeholder="Enter Username">
  <label for="name">Password:</label>
  <input type="password" name="password" id="password" placeholder="Enter Password">
  <button>Log In</button>
</form>

<div class="smallLink">
	<a href="/signUp">Sign Up!</a>
</div>


<div id="background"></div>