<div class="userContainer1">
	<div class="userContainer"> </div>
		<div class="users">
			<h1> <%= @profile.user_name %>'s Profile</h1>
			<h2>Location: <%= @profile.location %></h2>
			<div>
				<img src="<%= @profile.avatar_url %>">
			</div>
		</div>

	<% @images.each do |img| %>
	<p> <img src="<%=img.img_url%>"> </p>
	
	<% end %>
	
</div>