<div>
<div class="welcomeContainer">
	<div class="welcomeContainer2">
		
		<div>
			<a class="welcomeLinks" href="/postArticle">Post an Article</a>
			<a class="welcomeLinks" href="/articles">View All Articles</a>
		</div>
		<div class="categoriesSplash">
			<h1>Categories</h1>
			 <ul>
			    <% @categories.each do |category| %>
			      <li class="categoryList">
			      		<a href="/categories/<%= category["id"] %>"><%=category["name"]%></a> 
			      </li>
			    <% end %>
			  </ul>
		</div>
	</div>
</div>

<div class="modal">
		
		<div class="pop">
			<div class="button">
				<button class="button2">Continue To Bruce-o-Pedia...</button>
				<p>Thanx</p>
			</div>
		</div>


	</div>
</div>

