@import url(https://fonts.googleapis.com/css?family=Damion);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);

h1 {
	font-size: 65px;
}

body {
	background-color: #0A0A0A;
	color: #1AD8FF;
	font-family: 'Damion', cursive;
	background-image: url("img/background1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

footer {
	position: relative;
	float:right;
	width: 100%; 
	bottom: .1px;
	height: 50px;
}

.backgroundSplash {
	position:absolute;
	display:block;
	background-image: url("img/background1.jpg");

}

.splashLogin{
	padding: 20px;
	opacity: 1;
}

.splash {
	background-color: #8C8C8C;
	width:500px;
	height: 500px;
	margin: 0 auto;
	opacity: .4;
	border-radius: 30px;
	text-align: center;
	margin-top: 60px;
}

.logoutButton {
	width: 0%;
	margin: 0 auto;
}

.welcomeContainer {
	background-color: #8C8C8C;
	width:400px;
	height: 750px;
	margin: 0 auto;
	opacity: 1;
	border-radius: 30px;
	text-align: center;
	float:right;

}

#background {
	height:100%;
	width:100%;
	background-image: url("img/background1.jpg");
	opacity:.4;
	background-repeat: no-repeat;
}

.header1 {
	position: relative;
	width: 100%;
	margin: 0 auto;
}
.container{
	position: relative;
	font-family: 'PT Sans Narrow', sans-serif;
	color:white;
	margin: 0 auto;
	
}
	.container1 {
		height: 100%;
		width:100%;
		margin: 0 auto;
		position: absolute;
		display: inline;
	  	opacity: 0.6;
	  	background: #8C8C8C;
	  	border: 1px solid #ccc;
	  	border: 1px solid #ccc;
	  	border-radius: 3px;
	  	z-index: -100;
	}

	.ArticleText {
		width:80%;
		margin: 0 auto;
		text-align: center;
		padding-top: 10px;
		position:relative;
	}
	.ArticleText img{
		width:50%;
		margin: 0 auto;
		text-align: center;
		padding-top: 10px;
		position:relative;
	}


.categoriesSplash {
	color:#1AD8FF;
}

.welcomeLinks {
	font-size: 50px;
	text-decoration: none;
	color: inherit;
	padding: 20px;

}

.welcomeLinks:hover, .smallLink:hover, .categoryList:hover {
	color:#FF3387;
}

.smallLink a{
	font-size: 30px;
	text-decoration: none;
	color: inherit;
}

.categoryList a{
	color:#FF3387;
	font-size: 25px;
	text-decoration: none;
	color: inherit;
	font-family: 'PT Sans Narrow', sans-serif;
	list-style: circle;
}

.welcomePhoto {
	background-image: url("img/background1.jpg");
}

.modal {
	display: none;
	height: 100%;
	width: 100%;
	background-color:#8F99A6;
	opacity: .8;
	z-index:1000;
	position:fixed;
	bottom: 0;
}

.pop {

	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
	margin: 0 auto;
	height:400px;
	width:450px;
	font-family: 'Lobster', cursive;
	font-size: 50px;
	background-color: white;

}
.userContainer1 {
	position: relative;
	font-family: 'PT Sans Narrow', sans-serif;
	background-image: url('img/wood.jpg');
	color:white;
	width: 80%;
	float:left;
	margin: 0 auto;
	background: #8C8C8C;
	padding-top: 15px;
	max-width:80%;
	min-width:1000px;
	border-radius: 10px;

}
	.userContainer{
		background: #8C8C8C;
		opacity: .5;
		margin: 0 auto;
	  	background: #8C8C8C;
	  	border-radius: 3px;
	  	z-index: -100;

	}
	.users {
		position: relative;
		text-align: center;
		font-family: 'PT Sans Narrow', sans-serif;
		color:white;
		float:left;
		padding-left: 15px;
		padding-bottom: 20px; 
	}
