@import url(https://fonts.googleapis.com/css?family=Damion);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);

h1 {
	font-size: 65px;
}

body {
	background-color: #0A0A0A;
	color: #1AD8FF;
	font-family: 'Damion', cursive;
/*	background-image: url("img/background1.jpg");
	background-repeat: no-repeat;*/
}

button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.5, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #1AD8FF 5%, #1AD8FF 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #1AD8FF 100%);
	background:-o-linear-gradient(top, #ededed 5%, #1AD8FF 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #1AD8FF 100%);
	background:linear-gradient(to bottom, #ededed 5%, #1AD8FF 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#1AD8FF;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border:.3px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:'PT Sans Narrow', sans-serif;
	font-size:15px;
	/*font-weight:bold;*/
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

footer {
	position:fixed;
	float:right;
	bottom: 0px; 
	width: 30%; 
	height: 50px; 
	background-color:#0A0A0A;
}

.backgroundSplash {
	position:absolute;
	display:block;
	background-image: url("img/background1.jpg");

}

.splashLogin{
	padding: 20px;
	opacity: 1;
}

.splash {
	background-color: #8C8C8C;
	width:500px;
	height: 500px;
	margin: 0 auto;
	opacity: .4;
	border-radius: 30px;
	text-align: center;
	margin-top: 60px;
}

.logoutButton {
	margin: 0 auto;
	width: 30%;
}

.welcomeContainer {
	background-color: #8C8C8C;
	width:400px;
	height: 750px;
	margin: 0 auto;
	opacity: 1;
	border-radius: 30px;
	text-align: center;
	float:right;

}

#background {
	height:100%;
	width:100%;
	background-image: url("img/background1.jpg");
	opacity:.4;
	background-repeat: no-repeat;
}

.articles {
	font-family: 'PT Sans Narrow', sans-serif;
	color:white;
	float:left;
}

.categoriesSplash {
	color:#1AD8FF;
}

.welcomeLinks {
	font-size: 50px;
	text-decoration: none;
	color: inherit;
	padding: 20px;

}

.welcomeLinks:hover, .smallLink:hover, .categoryList:hover {
	color:#FF3387;
}

.smallLink a{
	font-size: 30px;
	text-decoration: none;
	color: inherit;
}

.categoryList a{
	color:#FF3387;
	font-size: 25px;
	text-decoration: none;
	color: inherit;
	font-family: 'PT Sans Narrow', sans-serif;
	list-style: circle;
}

.welcomePhoto {
	background-image: url("img/background1.jpg");
}

.modal {
	display: none;
	height: 100%;
	width: 100%;
	background-color:#8F99A6;
	opacity: .8;
	z-index:1000;
	position:fixed;
	bottom: 0;
}

.pop {

	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
	margin: 0 auto;
	height:400px;
	width:450px;
	font-family: 'Lobster', cursive;
	font-size: 50px;
	background-color: white;

}

.users {
	font-family: 'PT Sans Narrow', sans-serif;
	color:white;
	float:left;
}