@import url(https://fonts.googleapis.com/css?family=Damion);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);
@import url(https://fonts.googleapis.com/css?family=PT+Mono);

html {
	height: 100%;
}

h1 {
	text-align: center;
	color:#1AD8FF;
}

body {
	background-color: #0A0A0A;
	color: #1AD8FF;
	font-family: 'Damion', cursive;
	background-image: url("img/bruceFace.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100%;
}

footer {
	position: relative;
	float:right;
	width: 100%; 
	bottom: .1px;
	height: 50px;
}
.form {

}
.signUpLink a{
	font-size: 20px;
	text-decoration: none;
	color: inherit;
}
#backgroundSplash {
	position: relative;
	font-family: 'PT Sans Narrow', sans-serif;
	color:#1AD8FF;
	margin: 0 auto;
	height: 35%;
  top: 50%;
  position: relative;
  transform: translateY(-50%);

}
	.splash {
		height: 100%;
		width:60%;
		margin: 0 auto;
		display: block;
	  	background: rgba(250,250,250,.9);
	  	border: .2px solid #1AD8FF;
	  	border: .2px solid #1AD8FF;
	  	border-radius: 2px;
	  	z-index: -100;
	  	padding-top: 15px;
	  	padding-bottom: 30px;
	}

	.splashLogin{
			width:60%;
			margin: 0 auto;
			text-align: center;
			position:relative; 
	}

	.splashLogin button{
			margin-top:20px;
	}

	.signUpLink{
		margin-top:20px;
	}

#SignUpContainer {
	position: relative;
	margin: 0 auto;
	color:black;
	font-family: font-family: 'PT Sans Narrow', sans-serif;

}
#SignUpContainer2 h1 {
	text-align: center;
}
#SignUpContainer2 {
	height: 100%;
	width: 20%;
	margin: 0 auto;
	display: block;
	background: rgba(250,250,250,.9);
	border: .2px solid #1AD8FF;
	border: .2px solid #1AD8FF;
	border-radius: 50px;
	z-index: -100;
	padding-top: 15px;
	padding-bottom: 30px;

}

	#SignUpContainer3 {
			width:60%;
			margin: 0 auto;
			text-align: center;
			position:relative; 	
	}

.loginButton {
	margin: 15px;
	margin: 0 auto;
	color: black;
	font-family: 'PT Sans Narrow', sans-serif;
}

.button1 {
	background-color: black;
	color:#1AD8FF;
  background-image: -webkit-linear-gradient(top, #0C1415, #0C1415);
  background-image: -moz-linear-gradient(top, #0C1415, #0C1415);
  background-image: -ms-linear-gradient(top, #0C1415, #0C1415);
  background-image: -o-linear-gradient(top, #0C1415, #0C1415);
  background-image: linear-gradient(to bottom, #0C1415, #0C1415);
  border-radius: 28px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  display:block;
  margin: 10px auto;
}

.button1:hover {
  background: #5D878C;
  background-image: -webkit-linear-gradient(top, #5D878C, #5D878C);
  background-image: -moz-linear-gradient(top, #5D878C, #5D878C);
  background-image: -ms-linear-gradient(top, #5D878C, #5D878C);
  background-image: -o-linear-gradient(top, #5D878C, #5D878C);
  background-image: linear-gradient(to bottom, #5D878C, #5D878C);
  text-decoration: none;
}

.signUpLink {
	margin-bottom: 10px;
}

.welcomeContainer {
	position: relative;
	font-family: 'PT Sans Narrow', sans-serif;
	color:white;
	margin: 0 auto;
	margin-top: 100px;	
}
	.welcomeContainer2 {
		font-family: 'Damion', cursive;
		height: 100%;
		width:60%;
		margin: 0 auto;
		display: block;
	  	background: rgba(250,250,250,.9);
	  	border-radius: 5px;
	  	z-index: -100;
	  	text-align: center;
	}

	.categoriesSplash {
		width:80%;
		margin: 0 auto;
		text-align: center;
		padding-top: 10px;
		position:relative;
		list-style-type: none;
	}

#background {
	height:100%;
	width:100%;
	background-image: url("img/background1.jpg");
	opacity:.4;
	background-repeat: no-repeat;
}

.header1 {
	font-size: 35px;
	position: relative;
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
.container{
	position: relative;
	font-family: 'PT Sans Narrow', sans-serif;
	color:black;
	margin: 0 auto;
	margin-bottom: 70px;
	
}
	.container1 {
		height: 100%;
		width:80%;
		margin: 0 auto;
		display: block;
	  	/*background: rgba(140,140,140,.5);*/
	  	background: rgba(250,250,250,.9);
	  	border: .2px solid #1AD8FF;
	  	border: .2px solid #1AD8FF;
	  	border-radius: 3px;
	  	z-index: -100;
	}

	.ArticleText {
		width:80%;
		margin: 0 auto;
		text-align: center;
		padding-top: 10px;
		position:relative;
	}

	.EditText {
		width:80%;
		margin: 0 auto;
		text-align: center;
		padding-top: 10px;
		position:relative;
		color: black;
	}

	.EditText h1 {
		font-family: 'Damion', cursive;
		position: relative;
		width: 30%;
		margin: 0 auto;
		text-align: center;
	}

	.EditText button {
		font-family: 'PT Sans Narrow', sans-serif;
		margin: 10px;
	}

	.ArticleText img{
		width:50%;
		margin: 0 auto;
		text-align: center;
		padding-top: 10px;
		position:relative;
	}
	.articles {
		width:90%;
		margin: 0 auto;
		padding-top: 10px;
		position:relative;
	}

.categoriesSplash {
	color:#1AD8FF;
	width: 30%;
	margin: 0 auto;
}

.categoryList a{
	color:#FF3387;
	font-size: 25px;
	text-decoration: none;
	color: inherit;
	font-family: 'PT Sans Narrow', sans-serif;
	
}
.categoryList {
	list-style-type: none;
	margin-right: 38px;
}

.welcomeLinks {
	font-size: 50px;
	text-decoration: none;
	color: black;
	padding: 20px;

}

.welcomeLinks:hover, .signUpLink:hover, .smallLink:hover, .categoryList:hover {
	color:#FF3387;
}

.smallLink {
	margin: 0 auto;
	width:10%;
	margin-bottom: 30px;
}
.smallLink a{
	font-size: 30px;
	text-decoration: none;
	color: inherit;

}

.welcomePhoto {
	background-image: url("img/background1.jpg");
}

.modal {
	display: none;
	height: 100%;
	width: 100%;
	background-color:#8F99A6;
	opacity: .4;
	z-index:1000;
	position:fixed;
	bottom: 0;
}

.pop {

	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
	margin: 0 auto;
	height:400px;
	width:450px;
	font-family: 'Lobster', cursive;
	font-size: 50px;
	background-color: white;

}
.userContainer1 {
	position: relative;
	font-family: 'PT Sans Narrow', sans-serif;
	color:white;
	margin: 0 auto;

}
	.userContainer{
		height: 100%;
		width:80%;
		margin: 0 auto;
		display: block;
	  	background: rgba(250,250,250,.9);
	  /*	border: .2px solid #1AD8FF;
	  	border: .2px solid #1AD8FF;*/
	  	border-radius: 3px;
	  	z-index: -100;

	}
	.users {
		width:80%;
		margin: 0 auto;
		text-align: center;
		padding-top: 10px;
		position:relative; 
	}

	.avatar img{
		width: 20%;
	}

	.userPix{
		width:10%;
		margin:0 auto;
		max-width: 500px;
		max-height: 500px;
	}

.wrongPassword {
	background-image: url("img/wrongPass.jpg");
	width: 1000px;
	height:1000px;
	background-repeat: no-repeat;
	margin: 0 auto;
	position: fixed;
	margin-top: 75px;
	margin-left: 300px;
	opacity: .4;
}

.postText {
	width:80%;
	margin: 0 auto;
	text-align: center;
	padding-top: 10px;
	position:relative;
	color: black;
}

.form1 {
	padding:15px;
}

.textArea {
	padding-top: 15px;
	padding-bottom: 15px;
}

#bigPic {
	height:350px;
	width: auto;
}